.navigation-container{
	position: fixed;
   /* background: rgba(11, 74, 104, 0.98);*/
   background: transparent;
   box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
   z-index: 9999;
   width: 100%;
}
.navigation-container.sticky{
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
  text-align: left;
  padding-left: 20px;
  background: rgba(35, 36, 40, 0.78);
  font-size: 30px;
}

.navigation-bar ul{
	padding: 0px;
	margin:0px;
}
.company-name li{
	text-transform: none!important;
	font-weight: 600;
	letter-spacing: 5px!important;
	font-size: 25px!important;
	padding: 10px 20px!important;
	color: #e47d5d!important;
    text-shadow: 2px 2px 4px #000000;
}
.navigation-bar ul li{
	display: inline-block;
	list-style: none;
	padding: 18px 20px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;

}
.team-container{
	margin-top: 
}

/*cover image */
.cover-image{
	padding: 0px;
}
.cover-image img{
	width: 100%;
}

/* our team */
.team-container{
	padding: 40px 0px;
}
.team-card{
padding: 10px;
}
.team-card .team-member{
	padding: 0px 40px;

}
.team-card .team-member img{
	border-radius: 50%;
	width: 100%;
	height: 200px;
	box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}
.team-card .team-member h3{
	color: #e47d5d;
	letter-spacing: 3px;

}
.team-container h1{
	color: #0b468d;
    letter-spacing: 15px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
}
.member-pic{
	position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(0, 42, 81);
  border-radius: 50%;
}
.member-pic:hover .overlay {
  opacity: 0.7;
}

.text {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* clients and partner */
.clients-carousal{
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	padding: 20px 0px;
}
.clients-carousal .item{
	height: 150px;
	position: relative;
	background:pink;
}
.clients-carousal .item img{
	height: 100px;
	width: 150px!important;
	position: absolute;
	margin-left:50%;
	margin-top: 50%;
	transform:translate(-50%,-90%);
}
.clients-carousal h1{
	margin: 0px;
    padding: 40px;
    font-size: 30px;
    letter-spacing: 6px;
}
.footer-container{
	 background-color: black;
	 color: white;
	 text-align: center;
}